# 1 - importation packages

In [4]:
import geopy
#on installe la librairie GeoPy qui permet d’utiliser un certain nombre de géocodeurs différents.
#Ici, on utilise Nominatim.
import csv

In [5]:
from geopy.geocoders import Nominatim
#Nominatim utilise les données OpenStreetMap pour trouver des emplacements sur Terre par nom et adresse (géocodage)

# 2 - création de la fonction de calcul des des latitudes et longitudes

In [80]:
def LocationName(location):
    geolocator = Nominatim(user_agent="testing app")
    try:
        location = geolocator.geocode(location)
        location = geolocator.geocode("___")
        repr(location)
    except:
        raise Exception("There was a problem with the geolocator function")
        #Si aucune expression n’est présente, raise propage la dernière exception 
        #active dans la portée courante. Si aucune exception n’est active dans 
        #la portée courante, une exception RuntimeError est levée, indiquant que c’est une erreur."""
        
    return (location.latitude, location.longitude)

In [81]:
LocationName("35 AV DU 159EME RIA BRIANCON 5100 ")
repr(location)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [ ]:
lat = []
long = []
for row in io['ADDRESS']:
    addr = geolocator.geocode(row, timeout=10)
    if addr is None:
        lat.append(None)
        long.append(None)
    else:
        latitude = ad.latitude
        longitude = ad.longitude  
    
    lat.append(latitude)
    long.append(longitude)

io['latitude'] = lat
io['longitude'] = long

In [96]:

lat = []
long = []
for address in adresscomplet:
    g = geolocator.geocode(address)
    if g is None:
        lat.append(None)
        long.append(None)
    else:
        latitude = g.latitude
        longitude = g.longitude 
    #print(address)
    print(lat,long )
    lat.append(g.latitude)
    long.append(g.longitude)
 # If give a wrong adress
location = geolocator.geocode("___")
repr(location)
print(lat,long )

[] []
[43.197642] [5.6078904]
[43.197642, 48.2909051] [5.6078904, 4.0457894]
[43.197642, 48.2909051, 48.3613399] [5.6078904, 4.0457894, -4.7667997]
[43.197642, 48.2909051, 48.3613399, 46.021659, None] [5.6078904, 4.0457894, -4.7667997, 4.0921204, None]

AttributeError: 'NoneType' object has no attribute 'latitude'

# 3 - tests et exemples

In [7]:
y="318 CHE DE ROUMAGOUA LA CIOTAT 1360 FR"

In [8]:
hasattr(y, 'longitude')

False

In [10]:
#adrs= "318 CHE DE ROUMAGOUA"
#city = "LA CIOTAT"
#postal_code = "13600"

In [11]:
#adresscomplette = adrs +' '+ city +' '+ postal_code

In [12]:
#print(adresscomplette)

In [13]:
#LocationName(adresscomplette)

In [14]:
adress = ["318 CHE DE ROUMAGOUA LA CIOTAT 13600", "19 RUE DES DAMES SAINTE SAVINE 10300", "22 RUE AMIRAL GUEPRATTE LE CONQUET 29217"]

In [15]:
for ad in adress : 
  print(LocationName(ad))

(43.197642, 5.6078904)
(48.2909051, 4.0457894)
(48.3613399, -4.7667997)

# 4 - connexion à la base de donnée dataengineer

In [16]:
#pip install mysql-connector

Connexion à la base de données : 
Le module mysql.connector fournit la méthode connect qui permet de retourner un objet qui représente la connexion vers la base de données.
fournir les paramètres host, user et password pour donner l’adresse du SGBDR, le login et le mot de passe de connexion.
fournir également le paramètre database pour indiquer quelle base de données utiliser.

In [14]:
import mysql.connector

In [15]:
mydb = mysql.connector.connect( 
    host="localhost", 
    user="root", 
    password="root", 
    database="dataengineer"
) 


mydb.close()

In [16]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': 'localhost',
  'database': 'dataengineer',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()

In [17]:
request = "select address_id, address, city, postal_code from address"

db = mysql.connector.connect(**config)
#créer un curseur de base de données pour effectuer des opérations SQL
c=db.cursor()
c.execute(request)
resultats = c.fetchall()

# 5 - récupération des colonnes de la table adresse sous une dataframe avec pandas

In [18]:
import pandas as pd
table_address= pd.DataFrame(resultats, columns = ['address_id', 'address', 'city', 'postal_code'])

In [19]:
table_address.head

<bound method NDFrame.head of      address_id                  address                  city postal_code
0             1     318 CHE DE ROUMAGOUA             LA CIOTAT       13600
1             2         19 RUE DES DAMES         SAINTE SAVINE       10300
2             3  22 RUE AMIRAL GUEPRATTE            LE CONQUET       29217
3             4          6 BD DES ETINES             LE COTEAU       42120
4             5      35 AV DU 159EME RIA              BRIANCON        5100
..          ...                      ...                   ...         ...
557         601              20 RUE COLI             MONTREUIL       93100
558         602         6 AV JEAN JAURES                 FEURS       42110
559         603     1 RUE HENRI RENAUDIN  CHARLEVILLE-MEZIERES        8000
560         604            2 RUE DE LYON      EPINAY SUR SEINE       93800
561         605        4 RUE DENIS PAPIN                 BLAIN       44130

[562 rows x 4 columns]>

In [23]:
#table_address.columns

In [24]:
#table_address['postal_code']

In [25]:
#table_address.postal_code[1]

In [26]:
#table_address.index #: les noms des lignes (individus), par exemple Index(['a1', 'a2', 'a3'], dtype='object').

In [27]:
#table_address.values #: pour récupérer le dataframe sous forme d'array numpy 2d.

In [28]:
#table_address.c

# 6 - geocodage

In [29]:
i = 0
for i in range(0,5):
  i += 1
  if i==3:
    print("Skipping 3")
    continue
  print(i)

1
2
Skipping 3
4
5

In [30]:
def LocationN(location):
    geolocator = Nominatim(user_agent="testing app")
    try:
        location = geolocator.geocode(location)
    except:
        result = "null"
        pass
    return (location.latitude, location.longitude)

In [31]:
adreSSS = ["318 CHE DE ROUMAGOUA LA CIOTAT 13600", 
          "35 AV DU 159EME RIA BRIANCON 5100", 
          "22 RUE AMIRAL GUEPRATTE LE CONQUET 29217"]

In [32]:
#for ad in adreSSS : 
  #print(LocationN(ad))

In [33]:
a=10
b=12
z = str(0) + str(b)
print(z)

012

In [21]:
import numpy as np

x=pd.array([])
for i in table_address['postal_code']:
     if len(str(i))<5:
        i = str(0) + str(i)
        #print(i)
     x = np.append(x, i)
             
print(x)

['13600' '10300' '29217' '42120' '05100' '59151' '38330' '92600' '45000'
 '92200' '69210' '53360' '35131' '69006' '79340' '92240' '44600' '28100'
 '39120' '63100' '92250' '33800' '65140' '95560' '63100' '31200' '13008'
 '62400' '93150' '33000' '54000' '13430' '83300' '97150' '33200' '91090'
 '17000' '07120' '77148' '76000' '49300' '60120' '65100' '72100' '91940'
 '09110' '86490' '59270' '92600' '75019' '59680' '06220' '89140' '06400'
 '75015' '69110' '76600' '10310' '56100' '13014' '94600' '94800' '81000'
 '59130' '22000' '75014' '76600' '93190' '03200' '77140' '26100' '33120'
 '14210' '89000' '77270' '71190' '84170' '93110' '74500' '94500' '29200'
 '35220' '54700' '34370' '91530' '26000' '14800' '62126' '78600' '71240'
 '59800' '02000' '93360' '77370' '71460' '61300' '11100' '77560' '95200'
 '30640' '64700' '89200' '83600' '56800' '44760' '11300' '33400' '63970'
 '33950' '35490' '92300' '44260' '84200' '38000' '38360' '31600' '69005'
 '35310' '92500' '49500' '44300' '58440' '77300' '28400' '95110' '92400'
 '53150' '88700' '80090' '62680' '04210' '16100' '28190' '50330' '70100'
 '60200' '42260' '13200' '06230' '13760' '74520' '40150' '15000' '74800'
 '06310' '71500' '95480' '88400' '83270' '83300' '75009' '92200' '94130'
 '45120' '91600' '20000' '47000' '13090' '40465' '92140' '56000' '78660'
 '83310' '93700' '34480' '91600' '76620' '26000' '71230' '28630' '29280'
 '94360' '76600' '54130' '77400' '87280' '62320' '69290' '27730' '31000'
 '92500' '38100' '44116' '75011' '83150' '64240' '80000' '95100' '18520'
 '43750' '11370' '14000' '06600' '25310' '13008' '55500' '69340' '97442'
 '75019' '84570' '90500' '27290' '37000' '38300' '56500' '41100' '17540'
 '38690' '77160' '35540' '34230' '62630' '51430' '38114' '21300' '01220'
 '24000' '34360' '94200' '77140' '44590' '78810' '29950' '78360' '13100'
 '08360' '44210' '62200' '75011' '75020' '60000' '95190' '37380' '25300'
 '78370' '95200' '17000' '59840' '92250' '31370' '75007' '10100' '71500'
 '54000' '69005' '72000' '65100' '60600' '97218' '95170' '61130' '74250'
 '88380' '77700' '83130' '29380' '93150' '72250' '92100' '40300' '11100'
 '36000' '56000' '92110' '79300' '01230' '64122' '85470' '10100' '33700'
 '94800' '34660' '42000' '36150' '66300' '24000' '24000' '45200' '56330'
 '56400' '14100' '69005' '95100' '95380' '09120' '14120' '17600' '31520'
 '81260' '31700' '77260' '33110' '07300' '31200' '92100' '66500' '73290'
 '88580' '49100' '47310' '14123' '44200' '64300' '17000' '29420' '17250'
 '60180' '92210' '74800' '22000' '73200' '30540' '22740' '58400' '80000'
 '69003' '77930' '31600' '33500' '33680' '37000' '06310' '94120' '22000'
 '12230' '92140' '92300' '74370' '92130' '35000' '38980' '92110' '74370'
 '76240' '27700' '38100' '58000' '78260' '42000' '42390' '34000' '59430'
 '85000' '13800' '31380' '92360' '63360' '07000' '53000' '33140' '62100'
 '59500' '22970' '06600' '35000' '30700' '76150' '71800' '37270' '62570'
 '34540' '75017' '77000' '06250' '13014' '84000' '56890' '87000' '25300'
 '59260' '62590' '97400' '43000' '88260' '33700' '13600' '08210' '44800'
 '97137' '77520' '95610' '17650' '02100' '30420' '37300' '83160' '56100'
 '38300' '33500' '24220' '63000' '07200' '45500' '93700' '35800' '50610'
 '50250' '44600' '97417' '45800' '49100' '01090' '17220' '21000' '29830'
 '30670' '13090' '93800' '39400' '59290' '62176' '77144' '59800' '19000'
 '74270' '42100' '22160' '78125' '92130' '33700' '19240' '03500' '76290'
 '33000' '63800' '29200' '60000' '83160' '24260' '65150' '71510' '64200'
 '83240' '44640' '81150' '77400' '59800' '80400' '45360' '97470' '92700'
 '75003' '31700' '89600' '21000' '34540' '69480' '62000' '94120' '76420'
 '29260' '56000' '27000' '91550' '42100' '22700' '35410' '13010' '85200'
 '93100' '74960' '33800' '15150' '13015' '78440' '54630' '78300' '69290'
 '64000' '38100' '14100' '33510' '38100' '78360' '59140' '59240' '21500'
 '06000' '95320' '59350' '24000' '06200' '97417' '91540' '90000' '78000'
 '95870' '56000' '13110' '34400' '07000' '79260' '95500' '34830' '71500'
 '13580' '03410' '35000' '89140' '63130' '38130' '21130' '78160' '42100'
 '27400' '14590' '63000' '64310' '22400' '74350' '06200' '97480' '93150'
 '06600' '75003' '81190' '63100' '13003' '31190' '44570' '31300' '35200'
 '85470' '33000' '76620' '34500' '95100' '69003' '94800' '34670' '53000'
 '59120' '79410' '44600' '51100' '41130' '33110' '69100' '33130' '54150'
 '74000' '34000' '80000' '13540' '94500' '37250' '92500' '59280' '70100'
 '11430' '17540' '06300' '54000' '85000' '14680' '59500' '91290' '93100'
 '42110' '08000' '93800' '44130']

In [22]:
y = pd.DataFrame(x)
print(y)

         0
0    13600
1    10300
2    29217
3    42120
4    05100
..     ...
557  93100
558  42110
559  08000
560  93800
561  44130

[562 rows x 1 columns]

In [85]:
adresscomplet = table_address['address']+ ' ' +table_address['city']+' '+x

In [86]:
adresscomplet.head()

0        318 CHE DE ROUMAGOUA LA CIOTAT 13600
1        19 RUE DES DAMES SAINTE SAVINE 10300
2    22 RUE AMIRAL GUEPRATTE LE CONQUET 29217
3             6 BD DES ETINES LE COTEAU 42120
4          35 AV DU 159EME RIA BRIANCON 05100
dtype: object

In [30]:
lat = []
long = []
geolocator = Nominatim(user_agent="testing app")
for row in table_address['postal_code']:
    addr = geolocator.geocode(row, timeout=10)
    if addr is None:
        lat.append(None)
        long.append(None)
    else:
        latitude = addr.latitude
        longitude = addr.longitude  
    
    lat.append(latitude)
    long.append(longitude)
    
table_address['latitude'] = lat
table_address['longitude'] = long

In [25]:
for j in adresscomplet :
        print(LocationName(j))

(43.197642, 5.6078904)
(48.2909051, 4.0457894)
(48.3613399, -4.7667997)
(46.021659, 4.0921204)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [80]:
adresscomplet.describe()

count                                  562
unique                                 560
top       49 RUE DES CARNETS CLAMART 92140
freq                                     2
dtype: object

In [71]:
table_address['postal_code'].describe()

count       562
unique      449
top       38100
freq          4
Name: postal_code, dtype: object

In [77]:
x.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [72]:
y.describe()

            0
count     562
unique    449
top     56000
freq        4

In [64]:
for i in table_address['postal_code']:
    for j in adresscomplet :
            if len(str(i))<5 or len(str(i))>5 :
                print("NULL")
                continue
            print(LocationName(j))

AttributeError: 'NoneType' object has no attribute 'latitude'

In [27]:
"""
request = "select postal_code from address"

db = mysql.connector.connect(**config)
c=db.cursor()
c.execute(request)
resultats = c.fetchall()
add_code=[]
for code in resultats:
    print(code)
    add_code.append([code])   """

'\nrequest = "select postal_code from address"\n\ndb = mysql.connector.connect(**config)\nc=db.cursor()\nc.execute(request)\nresultats = c.fetchall()\nadd_code=[]\nfor code in resultats:\n    print(code)\n    add_code.append([code])   '

In [56]:
"""
import numpy as np
add_cod_np = np.array(add_code) """

'\nimport numpy as np\nadd_cod_np = np.array(add_code) '

In [50]:
"""adresscomplet = table_address['address']+ ' ' +table_address['city']+' '+table_address['postal_code']
k = 0
for j in adresscomplet :
    adresscomplet[k]=adresscomplet[k]+1  
    for k in range(0,len(adresscomplet)) :
            for i in table_address['postal_code']:
                if len(str(i)) <5: 
                    print("NULL")
                    continue
    print(LocationName(j))"""

'adresscomplet = table_address[\'address\']+ \' \' +table_address[\'city\']+\' \'+table_address[\'postal_code\']\nk = 0\nfor j in adresscomplet :\n    adresscomplet[k]=adresscomplet[k]+1  \n    for k in range(0,len(adresscomplet)) :\n            for i in table_address[\'postal_code\']:\n                if len(str(i)) <5: \n                    print("NULL")\n                    continue\n    print(LocationName(j))'

In [44]:
"""adresscomplet = table_address['address']+ ' ' +table_address['city']+' '+table_address['postal_code']
for i in table_address['postal_code']:
    for j in adresscomplet :
        if len(str(i)) ==5:
            print(LocationName(j))
            continue
        else :  print("NULL") """

'adresscomplet = table_address[\'address\']+ \' \' +table_address[\'city\']+\' \'+table_address[\'postal_code\']\nfor i in table_address[\'postal_code\']:\n    for j in adresscomplet :\n        if len(str(i)) ==5:\n            print(LocationName(j))\n            continue\n        else :  print("NULL") '

In [34]:
"""adresscomplet = table_address['address']+ ' ' +table_address['city']+' '+table_address['postal_code']
for j in adresscomplet :
    print(LocationName(j))
       """

"adresscomplet = table_address['address']+ ' ' +table_address['city']+' '+table_address['postal_code']\nfor j in adresscomplet :\n    print(LocationName(j))\n       "